.footer-college-logo1{
    width: 55px;
    margin: 10px;
}
.footer-college-logo2{
    width: 56px;
    margin: 10px;
}
.footer-college-logo3{
    width: 53px;
    margin: 10px;
}
.footer-college-logo4{
    width: 50px;
    margin: 10px;
}
.footer-college-logo5{
    width: 50px;
    margin: 10px;
}