.card-link {
    
    color:red;
    font-weight: bold;
    text-decoration-line: none;
}
.card-title {
    text-transform: uppercase;
}
.cards {
    margin-top: 80px;
    padding-top: 50px;
}
.event-img {
    width: 100%;
    max-height: 300px;
    margin-bottom: 5px;
}

.event-h-div{
    margin: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.event-h {
    text-transform: uppercase;
    padding: 15px 40px 1px 40px;
    border-radius: 50%;
    
    background-color: white;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: oblique;
    font-size: 70px;
}
.event-h span{
    color: red;
}

@media screen and (max-width: 1000px) {
    .event-h {
        font-size: 40px;
    }
}
@media screen and (max-width: 600px) {
    .event-h {
        font-size: 25px;
    }
}