.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 50s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  .text-col{
    color: black;
  }
  .slide{
    padding: 10px;
  }
  .carousel-item.active, .carousel-item.prev, .carousel-item.next{
    display: flex;
    justify-content: center;
  }
  .carousel-indicators [data-bs-target]{
    background-color: #282c34 !important;
  }
  .logo-img{
    width: 295px;
    height: 100px;
    display: inline-flex;
    justify-content: center;
    margin: 12vh auto auto 7vw;
    padding: 10px;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  @media screen and (max-width: 600px) {
    .logo-img{
        width: 80px;
        height: 50px;
        
        padding: 10px;
      }
}
@media screen and (max-width: 250px) {
    .logo-img{
        width: 40px;
        height: 30px;
        
        padding: 10px;
      }
} 
  
  
  